<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.mapper.adminSetting">
	
	<select id="changeChargeUI" resultType="kr.co.domain.adminSetVO">
		select * from adminSetting
	</select>
	
	<update id="changeCharge">
		update adminSetting set regiCharge = #{regiCharge}, buyCharge = #{buyCharge}
	</update>
	
	<update id="changeBG">
		update adminSetting set bgfilepath = #{bgfilepath}
	</update>
	
	<update id="changeLogo">
		update adminSetting set logofilepath = #{logofilepath}
	</update>
	
	<select id="getBGimg" resultType="kr.co.domain.adminSetVO">
		select bgfilepath from adminSetting
	</select>
	
	<select id="getLogoimg" resultType="kr.co.domain.adminSetVO">
		select logofilepath from adminSetting
	</select>
	
	<select id="slideList" resultType="kr.co.domain.adminSlideVO">
		select * from adminBanner order by regidate desc
	</select>
	
	<delete id="slideDelete">
		delete from adminBanner where num = #{num}
	</delete>
	
	<insert id="slideInsert">
		insert into adminBanner(num, filepath, urlpath, regidate) values ((select nvl2(max(num), max(num)+1, 1) from adminBanner), #{filepath}, #{urlpath}, sysdate)
	</insert>
	
	<select id="getSlide" resultType="kr.co.domain.adminSlideVO">
		select * from adminBanner where num = #{num}
	</select>
	
	<update id="slideUpdate">
		update adminBanner set filepath=#{filepath}, urlpath=#{urlpath} where num=#{num}
	</update>
</mapper>