<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.mapper.adminUser">

	<sql id="search">
      <if test="searchType == 'id'.toString()">
         and lower(id) like '%'||lower(#{keyword})||'%'
      </if>
      <if test="searchType == 'nickname'.toString()">
         and lower(nickname) like '%'||lower(#{keyword})||'%'
      </if>
      <if test="searchType == 'name'.toString()">
         and lower(name) like '%'||lower(#{keyword})||'%'
      </if>
      <if test="searchType == null">
      </if>
 	</sql>
	
	<select id="getUserAmount" resultType="Integer">
		select count(*) from (
		select * from userinfo where author='user'
		<include refid="search"></include>)
	</select>
	
	<select id="userList" resultType="kr.co.domain.memberVO">
		<![CDATA[
			select * from (
			select rownum rnum, id, nickname, name, author, phone, email, joindate, cash from (
			select id, nickname, name, author, phone, email, joindate, cash from userinfo where author='user' ]]><include refid="search"></include><![CDATA[ order by id)
			) where rnum between #{startNum} and #{endNum}
		]]>
	</select>

	<select id="getSellerAmount" resultType="Integer">
		select count(*) from (
		select * from userinfo where author='seller'
		<include refid="search"></include>)
	</select>
	
	<select id="sellerList" resultType="kr.co.domain.memberVO">
		<![CDATA[
			select * from (
			select rownum rnum, id, nickname, name, author, phone, email, joindate, cash from (
			select id, nickname, name, author, phone, email, joindate, cash from userinfo where author='seller' ]]><include refid="search"></include><![CDATA[ order by id)
			) where rnum between #{startNum} and #{endNum}
		]]>
	</select>
	
	<select id="getAdminAmount" resultType="Integer">
		select count(*) from (
		select * from userinfo where author='admin'
		<include refid="search"></include>)
	</select>
	
	<select id="adminList" resultType="kr.co.domain.memberVO">
		<![CDATA[
			select * from (
			select rownum rnum, id, nickname, name, author, phone, email, joindate, cash from (
			select id, nickname, name, author, phone, email, joindate, cash from userinfo where author='admin' ]]><include refid="search"></include><![CDATA[ order by id)
			) where rnum between #{startNum} and #{endNum}
		]]>
	</select>
	
	<select id="userRead" resultType="kr.co.domain.memberVO">
		select * from userinfo where id = #{id}
	</select>
	
	<select id="userAuthorUI" resultType="kr.co.domain.memberVO">
		select * from userinfo where id = #{id}
	</select>
	
	<update id="userAuthor">
		update userinfo set author = #{author}, nickname = #{nickname} where id = #{id}
	</update>
	
	<delete id="userDelete">
		delete from userinfo where id = #{id} 
	</delete>
	
	
</mapper>