<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.mapper.gameInform">
	<sql id="search">
      <if test="searchType == 'writer'.toString()">
         and lower(writer) like '%'||lower(#{keyword})||'%'
      </if>
      <if test="searchType == 'title'.toString()">
         and lower(title) like '%'||lower(#{keyword})||'%'
      </if>
      <if test="searchType == 'content'.toString()">
         and lower(content) like '%'||lower(#{keyword})||'%'
      </if>
      <if test="searchType == null">
      </if>
 	</sql>

	<select id="list" resultType="kr.co.domain.gameVO">
		<![CDATA[
		select * from 
		(select rownum rnum, num, title, content, writer, regidate, category, price, dcrate, mancount, womancount, totalage, profit, sellcharge, viewcnt, filepath, gamefilepath, status from 
        (select * from 
        (select * from gamedetail where category like #{category} ]]><include refid="search"></include><![CDATA[)
         order by num desc)) 
        where rnum between #{startNum} and #{endNum}
		]]>
	</select>
	
	<select id="getAmount" resultType="Integer">
		<![CDATA[
		select count(num) from gamedetail where category like #{category} ]]><include refid="search"></include>
		<![CDATA[]]>
	</select>
	
	<select id="getReviewAmount" resultType="Integer">
		select count(*) from gamereview where gdnum = #{num}
	</select>
	
	<select id="read" resultType="kr.co.domain.gameVO">
		select * from gamedetail where num = #{num}
	</select>
	
	<select id="filepath" resultType="String">
		select filename from gamedetailfile where gdnum = #{num} order by num
	</select>
	
	<select id="dccheck" resultType="kr.co.domain.gameDetailDcVO">
		select * from gamedetaildc where gdnum=#{num} and joinclick<![CDATA[ <= ]]>goal and sysdate <![CDATA[ < ]]> dcenddate and rownum=1 order by dcstartdate
	</select>
	
	<update id="dcadd">
		update gamedetaildc set joinclick=joinclick+1 where num=#{num}
	</update>

	<update id="update">
		update gamedetail set title=#{title}, price=#{price}, category=#{category}, content=#{content}, dcrate=#{dcrate}, gamefilepath=#{gamefilepath} where num=#{num}
	</update>
	
	<select id="reviewlist" resultType="kr.co.domain.reviewVO">
		select * from (select rownum rnum, num, gdnum, writer, content, regidate, updatedate, recommend, assistyes, assistno from (select * from gamereview where gdnum = #{num} order by regidate desc)) where rnum between #{startNum} and #{endNum}
	</select>
	
	<select id="maxYesReview" resultType="kr.co.domain.reviewVO">
		select * from (select * from gamereview where gdnum=#{num} and recommend='추천' order by assistyes desc) where rownum=1
	</select>
	
	<select id="maxNoReview" resultType="kr.co.domain.reviewVO">
		select * from (select * from gamereview where gdnum=#{num} and recommend='비추천' order by assistyes desc) where rownum=1
	</select>
	
	<update id="reviewadd">
		update gamereview set ${assist} = ${assist} + 1 where num = #{num}
	</update>
	
	<insert id="reviewinsert">
		insert into gamereview (num, gdnum, writer, content, recommend) values((select nvl2(max(num), max(num)+1, 1) from gamereview), #{gdnum}, #{id}, #{reviewContent}, #{likeselect})
	</insert>
	
	<select id="reviewselect" resultType="kr.co.domain.reviewVO">
		select * from gamereview where num = #{num}
	</select>
	
	<delete id="reviewdelete">
		delete gamereview where num=#{num}
	</delete>
	
	<update id="reviewupdate">
		update gamereview set content=#{content}, updatedate=sysdate where num=#{num}
	</update>
	
	<select id="dcrqlist" resultType="kr.co.domain.gameDetailDcVO">
		select * from (select * from gamedetaildc where gdnum=#{num} order by dcenddate) where rownum between 1 and 5 order by dcenddate
	</select>
	
	<insert id="DCRqSet">
		insert into gamedetaildc values((select nvl2(max(num), max(num)+1, 1) from gamedetaildc), #{gdnum}, #{dcrate}, #{joinclick}, #{goal}, #{rqstartdate}, #{rqenddate}, #{dcstartdate}, #{dcenddate})
	</insert>
	
	<update id="gameStatus">
		update gamedetail set status=#{status} where num=#{num}
	</update>
</mapper>