<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.mapper.myPage">

	<select id="getMemberVO" resultType="kr.co.domain.memberVO">
		select * from userinfo where id = #{id}
	</select>
	
	<select id="updateUI" resultType="kr.co.domain.memberVO">
		select * from userinfo where id = #{id}
	</select>
	
	<update id="update">
		update userinfo set nickname=#{nickname}, name=#{name}, pw=#{pw}, phone=#{phone}, email=#{email}, address1=#{address1}, address2=#{address2} where id = #{id}
	</update>
	
	<delete id="delete">
		delete from userinfo where id = #{id} and pw = #{pw}
	</delete>
	
	
</mapper>