<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.mapper.myPage">

	<select id="getMemberVO" resultType="kr.co.domain.memberVO">
		select * from userinfo where id = #{id}
	</select>
	
	<select id="updateUI" resultType="kr.co.domain.memberVO">
		select * from userinfo where id = #{id}
	</select>
	
	<update id="myProfileUpdate">
		update userinfo set nickname=#{nickname}, name=#{name}, pw=#{pw}, phone=#{phone}, email=#{email}, address1=#{address1}, address2=#{address2} where id = #{id}
	</update>
	
	<delete id="deleteUser">
		delete from userinfo where id = #{id} and pw = #{pw}
	</delete>
	
	<update id="updateCash">
		update userinfo set cash=#{cash} where id=#{id}
	</update>
	
	<insert id="regiBasket">
		insert into shopBasket (num, id, gdnum) values ((select nvl2(max(num), max(num)+1, 1) from shopBasket), #{id}, #{gdnum})
	</insert>
	
	<select id="basketList" resultType="kr.co.domain.basketVO">
		select sb.gdnum, gd.title, gd.writer, gd.regidate gregidate, sb.regidate sregidate, gd.price from gamedetail gd, (select * from shopbasket where id=#{id}) sb where gd.num = sb.gdnum order by sregidate desc
	</select>
	
	<delete id="deleteBasketList">
		delete from shopBasket where id=#{id} and gdnum=#{gdnum}
	</delete>
	
	<insert id="zzim_insert">
		insert into zzimlist (num, id, gdnum) values ((select nvl2(max(num), max(num)+1, 1) from zzimlist), #{id}, #{gdnum})
	</insert>
	
	<select id="zzim_list" resultType="kr.co.domain.basketVO">
		select sb.gdnum, gd.title, gd.writer, gd.regidate gregidate, sb.updatedate sregidate, gd.price from gamedetail gd, (select * from zzimlist where id=#{id}) sb where gd.num = sb.gdnum order by sregidate desc
	</select>
	
	<delete id="zzimDelete">
		delete from zzimlist where id=#{id} and gdnum=#{gdnum}
	</delete>
	
</mapper>