<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.mapper.recommand">
	<sql id="search">
      <if test="searchType == 'writer'.toString()">
         and lower(writer) like '%'||lower(#{keyword})||'%'
      </if>
      <if test="searchType == 'title'.toString()">
         and lower(title) like '%'||lower(#{keyword})||'%'
      </if>
      <if test="searchType == 'content'.toString()">
         and lower(content) like '%'||lower(#{keyword})||'%'
      </if>
      <if test="searchType == null">
      </if>
 	</sql>

	<select id="getNewGameList" resultType="kr.co.domain.gameVO">
		<![CDATA[
		select * from 
		(select rownum rnum, num, title, content, writer, regidate, category, price, dcrate, mancount, womancount, totalage, profit, sellcharge, viewcnt, filepath, gamefilepath, status from 
        (select * from 
        (select * from gamedetail where regidate between (SELECT sysdate - 7 FROM DUAL) and sysdate ]]><include refid="search"></include><![CDATA[)
         order by num desc)) 
        where rnum between #{startNum} and #{endNum}
		]]>
	</select>
	
	<select id="getNewGameAmount" resultType="Integer">
		<![CDATA[
		select count(*) from gamedetail where regidate between (SELECT sysdate - 7 FROM DUAL) and sysdate ]]><include refid="search"></include>
		<![CDATA[]]>
	</select>

	<select id="getFreeGameList" resultType="kr.co.domain.gameVO">
		<![CDATA[
		select * from 
		(select rownum rnum, num, title, content, writer, regidate, category, price, dcrate, mancount, womancount, totalage, profit, sellcharge, viewcnt, filepath, gamefilepath, status from 
        (select * from 
        (select * from gamedetail where price = 0 ]]><include refid="search"></include><![CDATA[)
         order by num desc)) 
        where rnum between #{startNum} and #{endNum}
		]]>
	</select>
	
	<select id="getFreeGameAmount" resultType="Integer">
		<![CDATA[
		select count(*) from gamedetail where price = 0 ]]><include refid="search"></include>
		<![CDATA[]]>
	</select>
	
	<select id="getDcGameList" resultType="kr.co.domain.gameVO">
		<![CDATA[
		select * from 
		(select rownum rnum, num, title, content, writer, regidate, category, price, dcrate, mancount, womancount, totalage, profit, sellcharge, viewcnt, filepath, gamefilepath, status from 
        (select * from 
        (select * from gamedetail where dcrate > 0 ]]><include refid="search"></include><![CDATA[)
         order by dcrate desc)) 
        where rnum between #{startNum} and #{endNum}
		]]>
	</select>
	
	<select id="getDcGameAmount" resultType="Integer">
		<![CDATA[
		select count(*) from gamedetail where dcrate > 0 ]]><include refid="search"></include>
		<![CDATA[]]>
	</select>
	
	<select id="getHotGameList" resultType="kr.co.domain.gameVO">
		<![CDATA[
		select * from (select rownum rnum,num, title, content, writer, regidate, category, price, dcrate, mancount, womancount, totalage, profit, sellcharge, viewcnt, filepath, gamefilepath, status from 
		(select * from gamedetail order by (mancount+womancount) desc)) where rnum between 1 and 9
		 ]]>
	</select>
	
	<select id="getcategory" resultType="String">
		SELECT category FROM  buyList b, gamedetail g where id=#{id} and b.gdnum=g.num GROUP BY category HAVING COUNT(category) > 1
	</select>
	
	<select id="getcustomRecAmount" resultType="Integer">
		<![CDATA[
		select count(*) from gamedetail where dcrate > 0 ]]><include refid="search"></include>
		<![CDATA[]]>
	</select>
	
	<select id="getcustoRecList" resultType="kr.co.domain.gameVO">
		select * from 
		(select rownum rnum, num, title, content, writer, regidate, category, price, dcrate, mancount, womancount, totalage, profit, sellcharge, viewcnt, filepath, gamefilepath, status from 
        (select * from 
        (select * from gamedetail where category = #{category})
         order by num desc)) 
        where rnum between #{startNum} and #{endNum}
	</select>
	
	<select id="NewGameList" resultType="kr.co.domain.gameVO">
		<![CDATA[
		select * from 
      (select rownum rnum, num, title, content, writer, regidate, category, price, dcrate, mancount, womancount, totalage, profit, sellcharge, viewcnt, filepath, gamefilepath, status from 
        (select * from 
        (select * from gamedetail where regidate between (SELECT sysdate - 7 FROM DUAL) and sysdate)
         order by num desc)) 
        where rnum between 1 and 5
		]]>
	</select>
	
	<select id="DCGameList" resultType="kr.co.domain.gameVO">
		select rownum rnum, num, title, content, writer, regidate, category, price, dcrate, mancount, womancount, totalage, profit, sellcharge, viewcnt, filepath, gamefilepath, status from 
        (select * from 
        (select * from gamedetail where dcrate > 0)
         order by dcrate desc)
	</select>
</mapper>