<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.mapper.sboardNG">

	<!-- 검색처리 부분 -->
	
   <sql id="search">
      <if test="searchType == 'writer'.toString()">
         where lower(writer) like '%'||lower(#{keyword})||'%'
      </if>
      <if test="searchType == 'title'.toString()">
         where lower(title) like '%'||lower(#{keyword})||'%'
      </if>
      <if test="searchType == 'content'.toString()">
         where lower(content) like '%'||lower(#{keyword})||'%'
      </if>
 </sql>

     	<select id="NGList" resultType="kr.co.domain.boardNGVO"> <!-- search List의 페이징처리 -->
    		<![CDATA[
    		 select * from 
    		(select rownum rnum, num, title, writer, updatedate, viewcnt from 
    		(select * from boardNG]]><include refid="search"></include> <!-- 위에 작성한 search sql문(where절)이 들어감 -->
    		<![CDATA[order by num desc)) where rnum between #{startNum} and #{endNum}]]>
    	</select>
    	
     	<select id="NGamount" resultType="Integer">   <!-- search List의 amount 가져오기 -->
    		<![CDATA[select count(num) from boardNG]]> <include refid="search"/>
    	</select> 
    	
    	<select id="NGRead" resultType="kr.co.domain.boardNGVO">
    	  select * from boardNG where num = #{num}
    	</select>   
    	
     	<update id="increaseviewcnt">
    	 update boardNG set viewcnt = viewcnt +1 where num = #{num}
    	</update> 
    	
     	<delete id="NGDelete">
    		delete from boardNG where num = #{num}
    	</delete>
    	
   <select id="NGUpdateUI" resultType="kr.co.domain.boardNGVO">
   	select * from boardNG where num=#{num}
   </select>
    	
    <update id="NGUpdate">
		update boardNG set writer=#{writer}, title=#{title}, content=#{content}, updatedate=sysdate where num=#{num}
	</update> 

</mapper>