@charset "UTF-8";

.header {
	background-image : url(/resources/main/black2.png);
	background-repeat: no-repeat; 
	background-position: center top;
	position: relative;
	margin: auto;
	width: auto;
	height: 180px;
}

.head {
	position: relative;
	left: 0%;
	width: auto;
	margin: 0;
}

.menu {
	width: 100%;
	margin: 0;
}

.ser {
	position: relative;
	left: 28%;
	top: 15px;
	width: auto;
}

#se {
	width: 440px;
	height: 50px;
	border-radius: 70px;
}


.login{
	position: relative;
	left: 95%;
	width: 200px;
	margin: 0;
}
#user{
	position: relative;
	right: 60%;
	width: 200px;
	margin: 0;
}
#seller{
	position: relative;
	right: 60%;
	width: 200px;
}
#admin{
	position: relative;
	right: 60%;
	width: 200px;
	margin: 0;
}
.menubar {
	transition : .30s ease-in-out;
	transform : rotateX (-90deg) rotateY (0);
	transform-origin : 0 0;
	position: relative;
	left: 22%;
	top : 45px;
	border: none;
	border: 0px;
	margin-right: auto;
	padding: 0px;
	font-size: 17px;
	font-weight: 1500;
	width: 600px;
	font: italic;
	

}

.menubar ul {
	transition : .30s ease-in-out;
	transform : rotateX (-90deg) rotateY (0);
	transform-origin : 0 0;
	background: write;
	height: 50px;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 600px;
}

.menubar li {
	transition : .30s ease-in-out;
	transform : rotateX (-90deg) rotateY (0);
	transform-origin : 0 0;
	float: left;
	padding: 0px;
}

.menubar li a { /*메뉴*/
	transition : .30s ease-in-out;
	transform : rotateX (-90deg) rotateY (0);
	transform-origin : 0 0;
	background: linear-gradient(#FFCD12);
	color: white;
	display: block;
	font-size: 1em;
	font-weight: normal;
	line-height: 50px;
	border: 0px solid black;
	margin: 0px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
	border-radius: 0;
	width: auto;
	border-radius: 10px 10px 0px 0px;
}

.menubar li a:hover, .menubar ul li:hover a { /*드랍 마우스*/
	transition : .30s ease-in-out;	/*천천히 반응 하게 하는거 transition*/
	transform : rotateX (-90deg) rotateY (0);
	transform-origin : 0 0;
	background: linear-gradient(30deg, #FFCD12,gray);
	color: black;
	text-decoration: none;
}

.menubar li ul {
	transition : .30s ease-in-out;
	transform : rotateX (-90deg) rotateY (0);
	transform-origin : 0 0;
	display: none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	width: 150px;
	z-index: 200;
}

.menubar li:hover ul {
	transition : .90s ease-in-out;
	transform : rotateX (-90deg) rotateY (0);
	transform-origin : 0 0;
	display: block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {/*마우스 안올린 상태 드롭다운메뉴*/
	transition : .90s ease-in-out;
	transform : rotateX (-90deg) rotateY (0);
	transform-origin : 0 0;
	background: orange;
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	height: 50px;
	width: 150px;
	
}

.menubar li:hover li a {
	transition : .90s ease-in-out;
	transform : rotateX (-90deg) rotateY (0);
	transform-origin : 0 0;
	background: none;
}

.menubar li ul a {
	transition : .30s ease-in-out;
	transform : rotateX (-90deg) rotateY (0);
	transform-origin : 0 0;
	display: block;
	height: 50px;
	font-size: 14px;
	font-style: normal;
	margin: 0px;
	padding: 0px 10px 0px 15px;
}

.menubar li ul a:hover, .menubar li ul li:hover  {/*드랍 메뉴 마우스 올리면*/
	transition : .30s ease-in-out;
	transform : rotateX (-90deg) rotateY (0);
	transform-origin : 0 0;
	background: linear-gradient(30deg, orange,gray);
	border: 0px;
	color: #ffffff;
	text-decoration: none;
}

.img {
	position: absolute;
	width: auto;
	height: auto;
}

.img2 {
	position: relative;
	left: 15px;
	width: 1070px;
	height: 500px;
}
#user{
	position: relative;
	right: 50%;
	width: 200px;
	margin: 0;
}
#seller{
	position: relative;
	right: 55%;
	width: 200px;
	margin: 0;
}
#st{
	border-radius: 0px 10px 0px 0px;
}
#st :hover{
	border-radius: 0px 10px 0px 0px;
}
#end{
	border-radius: 0px 0px 10px 10px;
}
#end :hover{
	border-radius: 0px 0px 10px 10px;
}
#free{
	border-radius: 0px 10px 10px 10px;
}
#free :hover{
	border-radius: 0px 10px 10px 10px;
}
#logo{
	position: relative;
	top: 17+6px;
}
