@charset "UTF-8";

html, body {
	

	margin: 0;
	max-height: auto;
	min-height: 650px;
}

.bodymain {
	position: relative;
	margin: auto;
	max-height: auto;
	min-height: 750px;
	width: auto;
}
